html, body {
    margin: 0;
    height: 90%;
    background-color: black
}

h1 {
    color: paleturquoise;
    text-align: center;
    text-shadow: 2px 1px rgb(120,203,237);
    border-color:  rgb(120,203,237);
    font-size: 2.8em;
}

#status {
    color: rgb(120,203,237);
    font-size: 6ch;
}

#resetBtn {
    font-size: 50px;
    margin-top: .5em;
    height: 120px;;
}

#resetBtn:hover {
    background-color: red;
}

.board-container {
    text-align: center;
}

/* Prevents outline on button when clicked */
*:focus {outline:none}

button {
    transition-duration: .4s;
    border-color: rgb(120,203,237);
    border-style: groove;
    font-size: 140px;
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 12px;
    color: rgb(120,203,237);
    background-color: black;
    padding: .5px;
    border-width: .5px;
}

.unused-square:hover {
    background-color: rgb(25, 147, 168);
} 

.unused-square:active {
    background-color:white;
    background-size: 100%;
    transition: background 0s;
}